/*original, given css file*/
/*body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
}

header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}
.drpDwn {
    text-align: center;
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 1rem 1rem;
    list-style: none; /* Just for myList */
    
  /* 
}
.menus{
    margin-bottom: 40px; /* just for space with flower and picture */ 
/*}
.picture img{
    width: 150px;
}



/*adds*/
.dropdownContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    flex-direction: column;
    position: relative;
    
}

.dropdownContainer p{
    width: 200px;

    
}

.drpDwn{
    position: absolute;
    top: 0px;

}

img{
    width: 150px;
}

.picture{

    width: auto;
    margin-top: 150px;
   
    text-align: center;
}

#optionList{
margin-right: 40px;
}

